/* You can add global styles to this file, and also import other style files */
.container
{
 background-color: bisque;
 margin-top: 7%;
 margin-left: 25%
}


.navbar-inverse {
    background-color: darkred
   
}